//button square with animated arrow in header (down) in footer (up) in subpages (left)
.button-square {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__header {
    margin-top: 3rem;
    align-self: flex-end;

    @media (orientation: portrait) and (max-width: $bp-medium-grid) {
      grid-row: 3 / 4;
      margin-top: 0;
      justify-content: flex-end;
    }
    @media (orientation: portrait) and (max-width: $bp-small) {
      grid-row: 4 / 5;
      margin-top: 2rem;
      justify-content: flex-start;
    }
  }

  &__footer {
    justify-content: flex-end;
  }

  &__shape,
  &__shape:link,
  &__shape:visited {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    border: var(--line);
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
    cursor: pointer;
  }
  &__shape--footer {
    margin-right: 0;
    margin-left: 1.2rem;

    @media only screen and (max-width: $bp-tiny) {
      margin-left: 0.6rem;
    }
  }
  &__shape--header {
    @media (orientation: portrait) and (max-width: $bp-medium-grid) {
      order: 2;
      margin-left: 1.2rem;
    }
    @media (orientation: portrait) and (max-width: $bp-small) {
      order: 0;
      margin-left: 0;
    }
  }

  &__shape:hover &__arrow {
    animation: pulsate 1.5s ease-in-out infinite;
  }
  &__shape:hover &__arrow--task-page {
    animation: pulsateLeft 1.5s ease-in-out infinite;
  }

  &__arrow {
    fill: white;
    width: 2rem;
    height: 2rem;
  }

  &__text {
    text-transform: uppercase;
    font-family: var(--font-headings);

    &--header {
      margin-left: 1.2rem;
    }
    &--task-page {
      text-align: right;
      margin-right: 1rem;
      margin-left: 0.5rem;
    }
  }
}

//link "pobierz moje cv" - download my cv
.button-rectangle,
.button-rectangle:link,
.button-rectangle:visited {
  position: relative;
  width: 18.2rem;
  height: 4.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: var(--color-primary);
  color: #fff;
  font-family: var(--font-headings);
  font-size: 1.8rem;
  letter-spacing: 1px;
  border: var(--line);
  box-shadow: var(--shadow-button);
  overflow: hidden;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  transition: 0.5s;

  .span-bg {
    width: 110%;
    height: 110%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    transition: 0.5s;
  }
  .span-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &:hover {
    color: var(--color-grey-dark);
    border-color: var(--color-grey-dark);
  }
  &:hover .span-bg {
    transform: translateY(-100%);
  }

  &:active {
    border-color: var(--color-primary);
  }
}

//button "zobacz moje zadania" - see my tasks
.button-experience:link,
.button-experience:visited {
  display: inline-block;
  text-decoration: none;
  margin-top: 2.5rem;
  border: var(--line);
  background-color: #fff;
  padding: 0.6rem 1.6rem;
  font-size: 1.3rem;
  color: var(--color-primary);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    padding: 0.6rem 2rem;
    background-color: var(--color-primary);
    color: #fff;
    box-shadow: var(--shadow-button);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: var(--shadow-button-active);
    transform: translateY(0);
  }
}
