//*hotel-view - gallery
.gallery {
  display: flex;

  &__item {
    position: relative;
    text-align: center;
  }

  &__photo {
    width: 100%;
    display: block;
    animation: changingImages 4s linear infinite;
  }

  &__text {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scale(0);
    font-size: 1.7rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 1rem;
    background-color: rgba(235, 47, 100, 0.7);
    transition: all 0.3s;
  }

  &__item:hover &__text {
    transform: scale(1);
  }
}

//*hotel-view - overview

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0rem 3rem;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.8rem;
      padding: 0 1rem 0 2rem;
      letter-spacing: 0;
    }
  }
  &__stars {
    margin-right: auto;
    display: flex;
  }
  &__star,
  &__pin {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary-dark);
  }

  &__star {
    @media only screen and (max-width: $bp-smallest) {
      width: 1.35rem;
      height: 1.35rem;
    }
  }
  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__pin {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: #fff;
    align-self: stretch;
    padding: 0 2.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
      padding: 0 1.5rem;
      margin-left: 1.5rem;
    }
  }
  &__rating-average {
    font-size: 1.8rem;
    font-weight: 300;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.6rem;
    }
  }
  &__rating-count {
    margin-top: -0.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.2rem;
    }
  }
}
//*button inline + wersja ze spanem -->
.btn-inline {
  display: inline-block;
  border: none;
  color: var(--color-primary-dark);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s;
  backface-visibility: hidden;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);
    span {
      margin-left: 8px;
    }
  }
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
//*hotel-view --> detail
//*           --> description
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}
.details-list {
  margin: 2rem 0;
  padding: 2rem 0;
  list-style: none;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.7rem;

    //*for all browsers
    background-image: url(../../assets/img/chevron-thin-right.svg);
    background-size: cover;

    //*newer browsers - masks:
    @supports (mask-image: url()) or (-webkit-mask-image: url()) {
      background-color: var(--color-primary-dark);
      mask-image: url(../../assets/img/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }
  }
}
.recommend {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--color-grey-dark-3);
  padding-bottom: 2rem;
  border-bottom: var(--line);

  &__count {
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    width: 3.9rem;
    height: 3.9rem;
    border-radius: 50%;
    border: 3px solid #fff;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }

    &:hover {
      transform: scale(1.4);
    }
  }
}

.rooms-gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 3rem;

  &__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 0;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.7rem;
    }
  }

  &__slider {
    width: 100%;
  }

  &__slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 25rem;
    height: 30vh;

    &--1 {
      background-image: url(../assets/img/image-appartment.jpg);
    }
    &--2 {
      background-image: url(../assets/img/image-studio.jpg);
    }
    &--3 {
      background-image: url(../assets/img/image-welcome.jpg);
    }
  }

  &__slide-content {
    width: 100%;
    min-height: 25rem;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    span {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      color: white;
      background-color: rgba(white, 0.3);
      padding: 1rem 2rem;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
  }
  #arrow-left {
    left: 0;
    border-width: 1.5rem 2rem 1.5rem 0;
    border-color: transparent #fff transparent transparent;
    margin-left: 2rem;
    box-shadow: var(--shadow-dark);
  }
  #arrow-right {
    right: 0;
    border-width: 1.5rem 0 1.5rem 2rem;
    border-color: transparent transparent transparent #fff;
    margin-right: 2rem;
    box-shadow: var(--shadow-dark);
  }
}

//*hotel-view --> detail
//*           --> user-reviews
.review {
  background-color: #fff;
  box-shadow: var(--line);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }
  &::before {
    content: "\201C";
    position: absolute;
    top: -2.7rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    line-height: 1;
    z-index: 1;
  }
  &__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.2rem;
  }
  &__user-box {
    margin-right: auto;
  }
  &__user-name {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }
  &__rating {
    font-size: 2rem;
    color: var(--color-primary-dark);
  }
}

//*hotel-view --> detail
//*           --> cta
.cta {
  padding: 3.5rem 3rem;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 2rem;
  }
  &__book-now {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    @media only screen and (max-width: $bp-medium) {
      font-size: 1.8rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.6rem;
    }
    @media only screen and (max-width: $bp-tiny) {
      font-size: 1.4rem;
    }
  }
}
//*           --> cta button
.btn {
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
  color: white;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }
  &__invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0;
  }
  &:hover {
    background-image: linear-gradient(to left, var(--color-primary), var(--color-primary-dark));
  }
  &:hover &__visible {
    transform: translateY(100%);
  }
  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
