:root {
  --color-primary: #d1a46f;
  --color-secondary: #112b9e;
  --color-grey-dark: rgb(68, 70, 85);
  --color-grey-light: #f4f4f4;

  --font-primary: "Raleway", sans-serif;
  --font-headings: "Shadows Into Light Two", cursive;
  --font-Grymulka: "Megrim", cursive;

  --shadow-box-big: 0 2rem 3rem rgba(68, 70, 85, 0.38);
  --shadow-box-round: 0 0 3rem rgba(68, 70, 85, 0.35);
  --shadow-icon: 0 0.7rem 0.5rem rgba(68, 70, 85, 0.9);
  --shadow-button: 0 1rem 2rem rgba(68, 70, 85, 0.15);
  --shadow-button-active: 0 0.5rem 1rem rgba(68, 70, 85, 0.15);

  --line: 1px solid var(--color-primary);
}

$bp-largest: 78.1em; //1250px
$bp-large: 68.75em; //1100px
$bp-large-mobile: 64em; //1024px
$bp-medium: 56.25em; //900px
$bp-medium-grid: 52.2em; //835px
$bp-small: 41.25em; //660px
$bp-smallest: 30.94em; //496px
$bp-tiny: 21.88em; //350px

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-large) {
    font-size: 57%;
  }
  @media only screen and (max-width: $bp-large-mobile) {
    font-size: 52%;
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 46%;
  }
  @media only screen and (max-width: $bp-smallest) {
    font-size: 42%;
  }
  @media only screen and (max-width: $bp-tiny) {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;

  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark);
}

::selection {
  background-color: var(--color-primary);
  color: white;
}
