.text {
  &__about {
    margin-bottom: 1.5rem;
    margin-right: 6rem;

    @media only screen and (max-width: $bp-medium-grid) {
      margin-right: 0;
    }
  }
  &__blue {
    color: var(--color-secondary);
  }

  &__skills {
    text-align: right;
    margin-left: 7.5rem;
    margin-bottom: 1.4rem;

    @media only screen and (max-width: $bp-medium-grid) {
      text-align: left;
      margin-left: 0;
      margin-bottom: 1.2rem;
    }
  }

  &__edu {
    color: var(--color-primary);
  }

  &__contact {
    @media only screen and (max-width: $bp-medium-tablet) {
      text-align: right;
    }
  }
}

.heading__secondary {
  margin-bottom: 2rem;
  font-family: var(--font-headings);
  font-size: 3.7rem;
  text-transform: uppercase;
  font-weight: 400;

  &--span {
    letter-spacing: 1px;
    font-size: 4.2rem;

    @media only screen and (max-width: $bp-largest) {
      font-size: 4rem;
    }
    @media only screen and (max-width: $bp-medium-grid) {
      font-size: 3.7rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      font-size: 3.5rem;
    }
    @media only screen and (max-width: $bp-tiny) {
      font-size: 2.8rem;
      letter-spacing: 0;
    }
  }

  &--right {
    text-align: right;

    @media only screen and (max-width: $bp-medium-grid) {
      text-align: left;
      display: flex;
      align-items: baseline;
    }
    span {
      @media only screen and (max-width: $bp-medium-grid) {
        order: -1;
        margin-right: 2rem;
      }
    }
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 3.4rem;
  }
  @media only screen and (max-width: $bp-medium-grid) {
    font-size: 3.2rem;
  }
  @media only screen and (max-width: $bp-smallest) {
    font-size: 3rem;
  }
  @media only screen and (max-width: $bp-tiny) {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
}

.heading__tertiary {
  margin-top: 1rem;
  margin-bottom: 8rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  text-align: right;
  font-weight: 400;

  @media only screen and (max-width: $bp-large-mobile) {
    margin-bottom: 5rem;
  }
  @media only screen and (max-width: $bp-tiny) {
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }
}

.heading__quaternary {
  font-size: 2rem;
  font-weight: 500;

  &--uppercase {
    text-transform: uppercase;
  }
  &--gold {
    color: var(--color-primary);
  }
  &--blue {
    color: var(--color-secondary);
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 1.7rem;
  }
}
