.text {
  &__about {
    margin-bottom: 1.5rem;
    margin-right: 6rem;
  }
  &__blue {
    color: var(--color-secondary);
  }

  &__skills {
    text-align: right;
    margin-left: 6rem;
    margin-bottom: 1.4rem;
  }

  &__edu {
    color: var(--color-primary);
  }
}

.heading__secondary {
  margin-bottom: 2rem;
  font-family: var(--font-headings);
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 400;

  &--span {
    letter-spacing: 1px;
    font-size: 4.2rem;
  }

  &--right {
    text-align: right;
  }
}

.heading__tertiary {
  margin-bottom: 8rem;
  font-size: 1.8rem;
  text-align: right;
  font-weight: 400;
}

.heading__quaternary {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;

  &--uppercase {
    text-transform: uppercase;
  }
}
