%box {
  box-shadow: var(--shadow-box-round);
  background-color: white;
}

.u-margin-top-small {
  margin-top: 2.5rem;
}
.u-margin-bottom-small {
  margin-bottom: 2rem;
}
.u-margin-bottom-smallest {
  margin-bottom: 0.5rem;
}
