.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 55% 1fr;
  }
  @media only screen and (max-width: $bp-medium-grid) {
    grid-template-columns: 57% 1fr;
  }
  @media only screen and (max-width: $bp-medium-tablet) {
    grid-template-columns: 1fr;
  }

  &__content {
  }

  &__line {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2rem;

    &:first-child {
      margin-top: 4rem;

      @media only screen and (max-width: $bp-tiny) {
        margin-top: 3rem;
      }
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    border: var(--line);

    margin-right: 2rem;
    padding: 0.5rem;
    fill: var(--color-primary);
  }

  &__form {
    margin: 1rem 3rem 0 12rem;
    padding: 3rem;
    box-shadow: var(--shadow-box-round);

    @media only screen and (max-width: $bp-medium) {
      margin: 1rem 3rem 0 4rem;
      padding: 2.5rem;
    }
    @media only screen and (max-width: $bp-medium-grid) {
      margin: 1rem 0 0 4rem;
      padding: 1.8rem;
    }
    @media only screen and (max-width: $bp-medium-tablet) {
      margin: 5rem 6rem 0 6rem;
      padding: 3rem;
    }
    @media only screen and (max-width: $bp-small) {
      margin: 5rem 3rem 0 3rem;
      padding: 2.5rem;
    }
    @media only screen and (max-width: $bp-tiny-big) {
      margin: 5rem 0 0 0;
      padding: 2rem;
    }
    @media only screen and (max-width: $bp-tiny) {
      margin: 4rem 0 0 0;
    }
  }
}
