.edu {
  &__cards {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    margin: 0 5rem;
  }

  &__card {
    padding: 3rem 2rem;
    box-shadow: var(--shadow-box-round);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-7px) scale(1.05);
    }
  }
  &__img {
    justify-self: flex-end;

    &--ue {
      width: 75%;
      margin-top: 5.5em;
    }
    &--agh {
      width: 40%;
      margin-top: 1.5rem;
    }
    &--zsg {
      width: 50%;
      margin-top: 5.5rem;
    }
  }
}
