.footer {
  display: grid;
  grid-template-columns: 60% 1fr;
  align-items: center;

  @media only screen and (max-width: $bp-tiny) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.8rem;
  }

  &__title {
    font-family: var(--font-Grymulka);
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__svg {
    width: 1.7rem;
    height: 1.7rem;
    fill: var(--color-primary);
  }
}
