.grid-container {
  display: grid;
  grid-template-columns:
    [left-start] minmax(6rem, 1fr) [left-end center-start]
    repeat(6, [col-start] minmax(min-content, 19.5rem) [col-end])
    [center-end right-start] minmax(6rem, 1fr) [right-end];

  grid-template-rows: 16vh minmax(52vh, min-content) minmax(10vh, min-content) repeat(10, min-content);
}

.header {
  grid-column: left-start / right-end;
  grid-row: 1 / 3;
  background-image: url(../assets/img/header-foto-medium.jpg);
  background-size: cover;
  background-position: top center;

  &__background {
    grid-column: left-start / right-end;
    grid-row: 3 / 4;
  }
}

.about-background {
  grid-column: left-start / right-end;
  grid-row: 4 / 5;
  margin-top: -12rem;
  z-index: -1;
}
.about-container {
  grid-column: center-start / center-end;
  grid-row: 4 / 5;
  margin: 10rem 0;
}

.skills-background {
  grid-column: left-start / right-end;
  grid-row: 5 / 6;
  z-index: -1;
}
.skills-container {
  grid-column: center-start / center-end;
  grid-row: 5 / 6;
  margin: 10rem 0;
}

.skills-slide-background {
  grid-column: left-start / right-end;
  grid-row: 6 / 7;
  background-image: linear-gradient(to bottom, rgba(#5a5855, 0.45), rgba(white, 0.35)),
    url(../assets/img/about-3-medium.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(1px);
}

.skills-slide-container {
  grid-column: center-start / center-end;
  grid-row: 6 / 7;
}

.experience-background {
  grid-column: left-start / right-end;
  grid-row: 7 / 8;
  background-color: var(--color-grey-light);
}
.experience-container {
  grid-column: center-start / center-end;
  grid-row: 7 / 8;
  margin: 10rem 0;
}

.education {
  grid-column: center-start / center-end;
  min-height: 10vh;
  background-color: yellow;
}

.projects {
  grid-column: center-start / center-end;
  background-color: limegreen;
}

.hobbies {
  grid-column: center-start / center-end;
  background-color: yellow;
}

.hobbies-skills {
  grid-column: left-start / right-end;
  background-color: pink;
}

.contact {
  grid-column: center-start / center-end;
  background-color: limegreen;
}

.footer {
  grid-column: left-start / right-end;
  background-color: pink;
}
