//navigation - main styling
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 16vh;
  margin: 0 auto;
  z-index: 100;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 1s;

  @media (orientation: portrait) and (max-width: $bp-medium-grid) {
    height: 8vh;
  }
}

//additional classes to make Hamburger disappear when scrolling down and reappear when scrolling up
.scroll-down .nav {
  transform: translateY(-110%);
}
.scroll-up .nav {
  transform: none;
}

//Hamburger Menu - button styling
.btn-menu {
  background-color: transparent;
  width: 6rem;
  height: 6rem;
  margin-right: 3rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  z-index: 200;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-medium-grid) {
    margin-right: 2rem;
  }

  &:focus {
    border: 1px solid var(--color-primary);
  }
  &__label {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    border: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &__burger {
    position: relative;
    transition-timing-function: ease-in;
  }

  &__burger,
  &__burger::before,
  &__burger::after {
    display: inline-block;
    width: 3rem;
    height: 0.33rem;
    background-color: var(--color-grey-dark);
    border-radius: 3px;
    transition: 0.3s;
  }
  &__burger::before,
  &__burger::after {
    content: "";
    position: absolute;
    right: 0;
  }
  &__burger::before {
    width: 4rem;
    transform: translateY(-1rem);
  }
  &__burger::after {
    width: 2rem;
    transform: translateY(1rem);
  }
}

//Hamburger look changing when scrolling down
.btn-menu_scrolled {
  background-color: #fff;
  border: var(--line);
  border-radius: 3px;
  box-shadow: var(--shadow-button-active);
}
.btn-menu_scrolled .btn-menu__burger,
.btn-menu_scrolled .btn-menu__burger::before,
.btn-menu_scrolled .btn-menu__burger::after {
  background-color: var(--color-primary);
}

//Hamburger 3 lines changing on cross when clicked
.btn-menu_open .btn-menu__burger {
  transform: translateX(-10rem);
  background-color: transparent;
}
.btn-menu_open .btn-menu__burger::before {
  transform: rotate(45deg) translate(7.2rem, -7.2rem);
}
.btn-menu_open .btn-menu__burger::after {
  width: 4rem;
  transform: rotate(-45deg) translate(7.2rem, 7.2rem);
}

.nav {
  //menu behaviour when in inactive state
  &__menu {
    position: absolute;
    top: -110vh;
    left: 0;
    right: 0;
    height: 100vh;
    transition: 1s;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    box-shadow: var(--shadow-box-big);
    background-color: var(--color-grey-light);
  }
  //menu behaviour when Hamburger Menu is clicked
  &__menu_open {
    top: 0;
  }

  &__person {
    flex-basis: 90%;
    margin-bottom: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__person-photo img {
    width: 11rem;
    clip-path: circle();
    margin-left: 2rem;
    order: 2;

    @media only screen and (max-width: $bp-smallest) {
      width: 10rem;
    }
    @media only screen and (max-width: $bp-tiny) {
      width: 8rem;
      margin-right: 1.5rem;
    }
  }

  &__person-text {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: var(--font-headings);
    font-weight: bold;
    letter-spacing: 0.5px;
    @media only screen and (max-width: $bp-smallest) {
      font-size: 2.2rem;
      letter-spacing: 0;
    }
    @media only screen and (max-width: $bp-tiny) {
      font-size: 2.1rem;
    }

    &--1 {
      font-size: 1.5rem;
      margin-top: 0.2rem;

      @media only screen and (max-width: $bp-smallest) {
        font-size: 1.4rem;
      }
      @media only screen and (max-width: $bp-tiny) {
        font-size: 1.33rem;
      }
    }
    &--blue {
      color: var(--color-secondary);
    }
  }

  &__navigation {
    list-style: none;
  }
}
//when scrolling down with open navigation menu - fixes centering elements vertically
.scroll-down .nav__menu_open {
  padding-top: 12rem;

  @media only screen and (max-width: $bp-medium-grid) {
    padding-top: 6rem;
  }
}

//navigation - links in menu
.navigation {
  &__item {
    position: relative;
    padding: 1.5rem 1rem;
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    height: 80%;
    width: 4px;
    background-color: var(--color-secondary);
    transform: scaleY(0);
    transition: transform 0.3s ease-out;
  }

  &__item:hover::before {
    transform: scaleY(1);
  }

  &__link,
  &__link:visited,
  &__link:link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-dark);
    font-size: 2rem;
    display: flex;
    align-items: center;
    transition: 0.3s;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.8rem;
    }
    @media only screen and (max-width: $bp-tiny) {
      font-size: 1.6rem;
    }
  }
  &__link:hover {
    color: var(--color-secondary);
  }

  //navigation - icons
  &__link::before {
    content: "";
    display: inline-block;
    width: 4rem;
    height: 2.5rem;
    margin-right: 2rem;
    background-image: url(../assets/icons/nav/aboutIN.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;

    @media only screen and (max-width: $bp-smallest) {
      width: 3.4rem;
      height: 2rem;
    }
    @media only screen and (max-width: $bp-tiny) {
      width: 3rem;
      height: 1.8rem;
    }
  }

  &__item:nth-child(2) &__link::before {
    background-image: url(../assets/icons/nav/skills2IN.svg);
  }
  &__item:nth-child(3) &__link::before {
    background-image: url(../assets/icons/nav/expIN.svg);
  }
  &__item:nth-child(4) &__link::before {
    background-image: url(../assets/icons/nav/eduIN.svg);
  }
  &__item:nth-child(5) &__link::before {
    background-image: url(../assets/icons/nav/projects2IN.svg);
  }
  &__item:nth-child(6) &__link::before {
    background-image: url(../assets/icons/nav/hobbyIN.svg);
  }
  &__item:nth-child(7) &__link::before {
    background-image: url(../assets/icons/nav/contactIN.svg);
  }
}
