.projects {
  &__heading {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-column-gap: 1rem;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 14vw);
    grid-gap: 3rem;
  }

  &__gallery-item {
    position: relative;

    &--1 {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
    }
    &--2 {
      grid-column: 2 / span 2;
      grid-row: 1 / span 2;
      box-shadow: 0 0 2rem rgba(68, 70, 85, 0.45);
    }
    &--3 {
      grid-column: 1 / span 2;
      grid-row: 3 / span 2;
    }
    &--4 {
      grid-column: 3 / span 1;
      grid-row: 3 / span 2;
      box-shadow: 0 0 2rem rgba(68, 70, 85, 0.45);
    }
    &--5 {
      grid-column: 1 / span 1;
      grid-row: 5 / span 1;
    }
    &--6 {
      grid-column: 2 / span 1;
      grid-row: 5 / span 1;
    }
    &--7 {
      grid-column: 3 / span 1;
      grid-row: 5 / span 1;
    }

    &:hover .projects__gallery-hover {
      opacity: 1;
    }
  }

  &__gallery-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__gallery-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);

    background-color: rgba(#fff, 0.915);
    color: var(--color-primary);
    font-weight: 500;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 0.4s ease-out;
  }

  // &__gallery-text {
  //   background-color: #d1a36f2f;
  //   padding: 0.4rem 0.9rem;
  // }

  &__gallery-plus {
    display: block;
    margin-top: 1rem;
    width: 3rem;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
    border: var(--line);
    cursor: pointer;
  }
}
