.slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //grid-row-gap: 1rem;
  justify-items: center;
  margin: 5rem 0;

  &__icon {
    fill: var(--color-grey-light);
    width: 9rem;
    height: 12rem;
    margin-bottom: 1.5rem;
    filter: drop-shadow(var(--shadow-icon));

    align-self: center;

    &--bubbles {
      width: 9.7rem;
    }
    &--sphere {
      width: 9.5rem;
    }
    &--computer {
      width: 11rem;
    }
    &--users {
      width: 9.5rem;
    }
    &--visualstudio2 {
      align-self: center;
    }
  }

  &__text {
    text-align: center;
    z-index: 5; //to stop filter: blur (_layout) from bluring the text
  }

  &__skill {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-grey-light);
    text-shadow: var(--shadow-icon);
  }
}
