.skills-background {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__grey {
    grid-column: 1 / 2;
    background-color: var(--color-grey-light);
    margin-right: -5rem;

    @media only screen and (max-width: $bp-medium-grid) {
      margin-right: 0;
    }
  }
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: $bp-medium-grid) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
  }

  &__content {
    @media only screen and (max-width: $bp-medium-grid) {
      grid-row: 1/ 2;
    }
  }

  &__skills {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media only screen and (max-width: $bp-medium-grid) {
      align-items: flex-start;
      margin-bottom: 3rem;
    }
  }

  &__skills-line {
    display: flex;
    align-items: center;
    margin-top: 1.3rem;
  }

  &__done-svg {
    fill: var(--color-primary);
    width: 3rem;
    height: 3.5rem;
    margin-right: 1rem;
    @media only screen and (max-width: $bp-medium-grid) {
      margin-right: 2rem;
    }
  }

  &__text {
    text-transform: uppercase;
  }

  &__photo-wrapper {
    padding: 3rem;
    background: #fff;
    box-shadow: var(--shadow-box-big);
    @media only screen and (max-width: $bp-medium-grid) {
      grid-row: 2/ 3;
      height: 80%;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}
